body {
    background-image: url('./images/space.png');
    font-family: 'Amatic SC', cursive;
    color: white;
	font-size: 150%;
    font-weight: bold;
    vertical-align: middle;
}


h1 {
    font-size: 180%;
    font-weight: bold;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

img {

    height: 100px;
    width:  120px;
}

.listedStudents {
    display: block;
}
